@model SolCreditBanking.Models.Transaction

<h1>Dodaj przelew</h1>

<form asp-action="Create" asp-controller="Transactions" method="post">
    <input type="hidden" asp-for="AccountId" />
    <div class="form-group">
        <label>Numer karty odbiorcy:</label>
        <input asp-for="DestinationCardNumber" class="form-control" />
        <span asp-validation-for="DestinationCardNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Kwota:</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Zatwierdź</button>
</form>
