@model Transaction

<h1>Wykonaj przelew</h1>

<form asp-action="Create" asp-controller="Transactions" method="post">
    <div class="form-group">
        <label asp-for="AccountId">Źródłowe konto (ID):</label>
        <input asp-for="AccountId" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DestinationAccountId">Docelowe konto (ID):</label>
        <input asp-for="DestinationAccountId" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Amount">Kwota:</label>
        <input asp-for="Amount" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Zatwierdź</button>
</form>
